<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>




<div class="row marketing">
  <a href="#"
  socialshare
  socialshare-provider="twitter"
  socialshare-text="720kb AngularJS Socialshare"
  socialshare-hashtags="angularjs, angular-socialshare"
  socialshare-url="http://720kb.net">
  Share me
  </a>

  <div>
            <button class="btn btn-medium font-bold"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-type="share"
                    socialshare-via="145634995501895"
                    socialshare-media="http://ourgovs.com/app/images/American-Iphone-Flag-HD-Wallpapers_V2.jpg"
                    socialshare-quote="XXXX Quote"
                    socialshare-hashtags="#720kb"
                    socialshare-title="720KB"
                    socialshare-mobileiframe = "true"
                    socialshare-caption="720kb is enough"
                    socialshare-url="http://ourgovs.com"
                    socialshare-popup-height="300"
                    socialshare-popup-width="400"
                    socialshare-trigger="click">
                <i class="fa fa-facebook"></i> Share on Facebook (share dialog)
            </button>
          </div>


</div>
